# ==========================================
# Visual Studio & .NET Folders
# ==========================================
.vs/
[Bb]in/
[Oo]bj/
TestResults/
workflow/

# ==========================================
# User-Specific Files
# ==========================================
*.user
*.suo
*.userosscache
*.sln.docstates

# ==========================================
# Build Results & Binaries
# ==========================================
*.exe
*.pdb
*.cache

# Ignore all DLLs globally...
*.dll

# ...BUT explicitly allow the P3D SDK DLL in the libs folder!
!libs/*.dll

# ==========================================
# NuGet Packages
# ==========================================
*.nupkg
packages/

# ==========================================
# Logs
# ==========================================
*.log